fastapi
uvicorn
pymongo
bcrypt
pyjwt
slowapi
python-dotenv
pydantic[email]
langchain-groq
langchain-core
langchain-pinecone>=0.2.0
langchain-huggingface
sentence-transformers
langchain-community
langchain-classic
langchain-mongodb
pinecone
youtube-transcript-api
requests